/*********************

About Section

*********************/

section#about {
    /* background-color: #e7e7e2; */
    /* background-color: #18121e; */
    background-color: rgba(0,0,0,0.5);
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 45px;
    /* height: 25vw; */
    width: 80vw;
    margin: 0 10vw;
    /* max-height: */
    min-width: 750px;

}

#about-title {
  padding-top: 60px;
  padding-bottom: 40px;
}

#about-title h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    /* color: rgba(0, 0, 0, 0.7); */
    color: white;

}

#about-content {
    font-weight: 200;
    font-size: 18px;
    /*font-size: 2vw;*/
    line-height: 150%;
    width: 75%;
    margin: 0 auto;
    color: white;

}

#about-content h2 {
    padding-bottom: 20px;
}

#about-subtext {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: lightgrey;
  margin: 0 0 10px 0;
}
