/*********************

Footer

*********************/

section#footer {
    background-color: #000000;
    text-align: center;
    padding: 30px;
    min-width: 750px;

}

div.social {
    width: 300px;
    margin: 0 auto;
}

div.social a {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 5px;
    font-family: "scicons";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    transition: background-color .2s linear, color .2s linear;
}

div.social a:not(.first-social) {
    margin-left: 20px;
}

div.social a:before {
    width: inherit;
    height: inherit;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div.social a.icon-twitter {
    background-color: #00acee;
}
div.social a.icon-twitter:before {
    content: "\e800";
}
div.social a.icon-twitter:hover {
    background-color: #fff;
    color: #00acee;
}

div.social a.icon-facebook {
    background-color: #3b5998;
}
div.social a.icon-facebook:before {
    content: "\e801";
}
div.social a.icon-facebook:hover {
    background-color: #fff;
    color: #3b5998;
}

div.social a.icon-mail {
    background-color: rgb(39, 174, 96);
    font-size: 26px;
    padding-top: 4px;
    height: 35px;
}
div.social a.icon-mail:before {
    font-family: "Socialico Plus";
    content: "M";
}
div.social a.icon-mail:hover {
    background-color: #fff;
    color: rgb(39, 174, 96);
}

section#footer h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-top: 20px;
    font-size: 14px;
    padding-bottom: 20px;
    text-align: center;
}
