/*********************

Tiltrotor Section

*********************/

section#tiltrotor {
    /* background-color: #c8d7dc; */
    /* background-color: #630f01; */
    /* background-color: #53594e; // grey */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/aluminum.jpg') no-repeat center center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 45px;
    padding-top: 30px;
    min-width: 750px;

    /* position: absolute;
    width: 100vw;
    left: -100vw; */

}

#tiltrotor-title {
    padding-top: 60px;
    padding-bottom: 60px;
}

#tiltrotor-title h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    /* color: #f7ebe8; */
}

#tiltrotor-content {
    font-weight: 200;
    font-size: 18px;
    /*font-size: 2vw;*/
    line-height: 150%;
    width: 75%;
    margin: 0 auto;
}

#tiltrotor-content h2 {
    padding-bottom: 20px;
    /* color: #f7ebe8; */
    color: rgba(255, 255, 255, 0.9);

}

/*********************

Tiltrotor Timeline Section

*********************/

section#timeline-tr {
    /* background-color: #e9f0f5; */
    /* background-color: #914a02; */
    background-color: rgba(0,0,0,0);
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 45px;
    min-width: 750px;

}

#about-timeline {
    padding-top: 60px;
    padding-bottom: 60px;
}

#about-timeline h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    /* color: #e2dddc; */
}

.tiltrotor .cd-date {
  color:  #eae4e3;
}
/*********************

Tiltrotor Team

*********************/
section#team-tr {
	/* background-color: #874401; */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/blueprint.png') no-repeat center center;

	font-family: 'Open Sans', sans-serif;
  padding-bottom: 45px;
  min-width: 750px;

}
